.navbar-custom {
    background-color: #333333;
  }
  .navbar-custom .navbar-brand {
    color: white;    font-weight: bold;
  }
  .navbar-custom .nav-link {
    color: #ddd;
    font-weight: bold;
  }
  .navbar-custom .nav-link.active {
    color: white;  }