.navbar-custom {
    background-color: #333333;
  }
  .navbar-custom .navbar-brand {
    color: #a0ff6d;
    font-weight: bold;
  }
  .navbar-custom .nav-link {
    color: #ddd;
    font-weight: bold;
  }
  .navbar-custom .nav-link.active {
    color: #a0ff6d;
  }